@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
.App {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.treeLogo {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 215px;
}
