.day {
  text-align: center;
  font-size: 60px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.date {
  font-size: 14.66px;
}

#dateRow {
  text-align: center;
}

.readingTitle {
  font-size: 24px;
  margin-bottom: 0px;
  display: inline;
}

.completedCheckboxContainer {
  display: inline-block;
}

div .completedCheckboxContainer .completedCheckbox {
  margin-bottom: 6px;
  margin-left: -3px;
}

.subtitle {
  font-size: 14.66px;
  margin-top: -9px;
  margin-bottom: 0px;
  color: #999999;
}

.readingText {
  font-size: 14.66px;
  color: #999999;
}

.readingBody {
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 24px;
}

.leftButton {
  padding-top: 30px;
  margin-left: 13px;
}

.rightButton {
  padding-top: 30px;
  margin-right: 13px;
  text-align: right;
}
